
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  
  <!--Main Content for about me page-->
  <main class="container" style="background-color: lightgrey; text-align: center;">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>
  <br><br>
  <!-- about section-->
  <section id="about">
    <div class="container mt-4 pt-4">
        <h1 class="text-center">About Me</h1>
        <br>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="/Assets/images/panth.jpeg" style="width: 85%; height: 80%;" >
            </div>

            <div class="col-lg-8">
                <p>
                    Hello Everyone, my name is Panth Patel ,I am from India and I am 19 years old.I have currently enrolled into Software
                    Engineering Technicain Program at Centennial College.Being an International Student it has been a
                    Roller Coster ride in getting used to the lifestyle of Canada but thanks to my family,friends and my
                    wonderful teachers who have helped me throught this journey.
                </p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: Panth Priyeshkumar Patel</li>
                            <li>Age: 19</li>
                            <li>Occupation: Student</li>

                        </ul>
                    </div>
                </div>
                <div class="row mt-3">
                    <a href="/Panthresume (2).pdf" style="text-decoration: none; color: grey;"><h5>Resume</h5></a>
                </div>
            </div>
        </div>
</section>

  

  <%- include partials/bottom_nav.ejs %>


  <%- include partials/footer.ejs %>


