
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  
  <!--Main Content-->
  <main class="container" style="background-color: lightgrey; text-align: center;">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main>
  <br><br>
  <!-- services section-->
  <section id="services">
    <div class="container">
        <h1 class="text-center">Services</h1>
        <br><br>
        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class="fas servicesIcon fa-clock"></i>
                        <h4 class="card-title mt-3">Unity game dev course</h4>
                    </div>
                </div>  
            </div>
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-layer-group'></i>
                        <h4 class="card-title mt-3">GUI Build up in C#</h4>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='far servicesIcon fa-check-circle'></i>
                        <h4 class="card-title mt-3">Web Interface Design</h4>
                    </div>
                </div>  
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-search'></i>
                        <h4 class="card-title mt-3">Excel Tutoring</h4>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-shield-alt'></i>
                        <h4 class="card-title mt-3">Cyber-Security</h4>
                    </div>
                </div>  
            </div>

            <div class="col-lg-4 mt-4">
                <div class="card servicesText">
                    <div class="card-body">
                        <i class='fas servicesIcon fa-wrench'></i>
                        <h4 class="card-title mt-3">QA</h4>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</section>


  

  <%- include partials/bottom_nav.ejs %>


  <%- include partials/footer.ejs %>





